body {
  background: url('background.jpg') no-repeat fixed center;
  background-size: cover;
}

.image.hotseat {
  /* place it in bottom right corner */
  position: absolute;
  float: right;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /* make it responsive */
  height: 20vw;
  width: auto;
}



.image.gif {
  width: 100%;
  padding-bottom: 66%;
  position: relative;
}
