body {
  background: url('background.jpg') no-repeat fixed center;
  background-size: cover;
}

body.inHotSeat {
  background-image: url('background-hotSeat.jpg'),
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(228, 99, 25, 0.384));

  background-blend-mode: overlay;
}

.image.hotseat {
  /* place it in bottom right corner */
  position: absolute;
  float: right;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /* make it responsive */
  height: 20vw;
  width: auto;
  opacity: 0.95;
}

.image.gif {
  width: 100%;
  padding-bottom: 66%;
  position: relative;
}

.header.title {
  font-size: 10vh !important;
  color: #fe4902;
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white, 2px 2px #fe4902, 3px 3px white;
}

.header.inHotSeat {
  font-size: 10vh !important;
  color: rgb(14, 112, 168);
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white, 2px 2px rgb(14, 112, 168), 3px 3px white;
}

.header.question {
  font-size: 6vh !important;
  padding-bottom: 4vh;
  color: #fe4902;
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white, 2px 2px #fe4902, 3px 3px white;
}

.button.button {
  min-height: 60px;
  min-width: 120px;
  height: 10vh;
  width: 20vw;
  background-color: rgb(14, 112, 168);
  border-radius: 8px;
  color: #fff;
  border: 1px solid rgb(177, 210, 229);
}

instructions-label {
  background-color: rgb(14, 112, 168);
}

.button.button:hover {
  background-color: rgb(154, 215, 255);
}

.segment.answers {
  background-color: rgb(14, 112, 168);
  color: #fff;
}

.ui.card.homepage,
.ui.cards > .card.homepage {
  margin-top: 20px;
  border-color: #fe4902;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px white, 4px 4px #fe4902, 6px 6px white;
}

.ui.card.homepage > .content .divider {
  background-color: #fe4902;
}

.ui.card.homepage > .button,
.ui.cards > .card.homepage > .ui.button {
  box-shadow: none;
  background-color: #fe4902;
  border-color: #fe4902;
  color: white;
  border-width: 1px;
  font-size: 1.28571429rem;
}

.ui.card.homepage > .button:hover,
.ui.cards > .card.homepage > .ui.button:active {
  background-color: white;
  color: #fe4902;
  border-color: #fe4902;
  border-top-width: 2px;
}
.ui.card.homepage > :last-child.button {
  border-radius: 0px 0px 50px 50px !important;
}

.ui.card.ui.card.results-card .divider {
  background-color: rgb(14, 112, 168);
}

.ui.card.results-card {
  border-color: rgb(14, 112, 168);
  border-width: 2px;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
  /* border-radius: 50px 50px 50px 50px; */
  box-shadow: 2px 2px white, 4px 4px rgb(14, 112, 168);
}

.ui.card.results-card-correct .divider {
  background-color: #fe4902;
}

.ui.card.results-card .card-title {
  font-weight: bolder;
  color: rgb(14, 112, 168);
}

.ui.card.results-card-correct {
  border-color: #fe4902;
  border-width: 2px;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;

  /* border-radius: 50px 50px 50px 50px; */
  box-shadow: 2px 2px white, 4px 4px #fe4902;
}

.ui.card.results-card-correct .divider {
  background-color: #fe4902;
}

.ui.card.results-card-correct .card-title {
  font-weight: bolder;
  color: #fe4902;
}

.centered-parent {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.ui.container.centered-child {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5vw;
  padding-right: 5vw;
}

.ui.table.scores {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
}

.ui.table.scores th,
.ui.table.scores td,
.ui.table.scores tr,
.ui.table.scores :last-child th,
.ui.table.scores :last-child td {
  border-color: black;
  border-width: 2px;
}

p {
  font-size: 3vh;
  padding: 10vh;
}

label {
  font-size: 3vh !important;
}
