body {
  background: url('background.jpg') no-repeat fixed center;
  background-size: cover;
}

body.inHotSeat {
  background-image: url('background-hotSeat.jpg'),
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(228, 99, 25, 0.384));
  background-blend-mode: overlay;
}

body.player {
  background-image: url('background.jpg'),
    linear-gradient(rgba(19, 106, 146, 0.719), rgba(13, 44, 80, 0.534));
  background-blend-mode: overlay;
}

.image.hotseat {
  /* place it in bottom right corner */
  position: absolute;
  float: right;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /* make it responsive */
  height: 20vw;
  width: auto;
  opacity: 0.95;
}

.image.gif {
  width: 100%;
  /* padding-bottom: 66%; */
  position: relative;
}

.header.title {
  font-size: 10vh !important;
  color: #fe4902;
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white, 2px 2px #fe4902, 3px 3px white;
}

.header.inHotSeat {
  font-size: 6vh !important;
  color: rgb(14, 112, 168);
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white;
}

.header.question {
  font-size: 6vh !important;
  padding-bottom: 4vh;
  color: #fe4902;
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white;
}

span.question {
  /* font-size: 6vh !important; */
  padding-bottom: 4vh;
  color: #fe4902;
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 2px 2px white;
}

.button.button {
  min-height: 40px;
  min-width: 120px;
  height: 10vh;
  width: 20vw;
}

.button.border {
  border: 1px solid rgb(177, 210, 229);
}

.header.questionNoPadding {
  color: rgb(14, 60, 97);
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white;
}

.button.answer {
  height: 1vh;
  width: 80%;
  margin: 0.5vh;
  background-color: rgb(14, 112, 168);
  border-radius: 8px;
  color: #fff;
  border: 1px solid rgb(177, 210, 229);
}

instructions-label {
  background-color: rgb(14, 112, 168);
}

.button.button:hover {
  background-color: rgb(154, 215, 255);
}

.segment.answers {
  padding: 1.5vh;
  font-size: 3vh;
  color: #fff;
}

.ui.segment {
  margin: 0.5rem;
  margin-right: 20%;
  margin-left: 20%;
}

.ui.card.homepage,
.ui.cards > .card.homepage {
  margin-top: 20px;
  border-color: #fe4902;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px white, 4px 4px #fe4902, 6px 6px white;
}

.ui.card.homepage > .content .divider {
  background-color: #fe4902;
}

.ui.card.homepage > .button,
.ui.cards > .card.homepage > .ui.button {
  box-shadow: none;
  background-color: #fe4902;
  color: white;
  border: none;
  font-size: 1.28571429rem;
}

.ui.card.homepage > .button:hover,
.ui.cards > .card.homepage > .ui.button:active {
  background-color: white;
  color: #fe4902;
  border-color: #fe4902;
  border-top: 1px;
  border-top: solid;
}
.ui.card.homepage > :last-child.button {
  border-radius: 0px 0px 50px 50px !important;
}

.centered-parent {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.ui.container.centered-child {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5vw;
  padding-right: 5vw;
}

.ui.card.results-card {
  border-color: rgb(14, 112, 168);
  border-width: 4px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

.ui.card.results-card > .content.name,
.ui.card.results-card > .content.name-visible {
  background-color: white;
  border-top: rgb(14, 112, 168);
}

.ui.card.results-card > .content.name .header,
.ui.card.results-card > .content.name-visible .header {
  color: black;
  vertical-align: middle;
  margin: 0px;
  display: inline-block !important;
}

.ui.card.results-card > .content.answer {
  display: table;
  background-color: rgb(14, 112, 168);
}

.ui.card.results-card > .content.answer > .header {
  color: white;
  vertical-align: middle;
  display: table-cell;
}

.ui.card.results-card > .content > .divider {
  border-color: #fe4902;
}

/* .ui.card.results-card > .content.name > .divider, */
/* .ui.card.results-card > .content.name-visible .divider { */
/* margin-bottom: 0px; */
/* } */

.ui.table.scores {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.ui.table.scores tr {
  height: 7vh;
}

.ui.table.scores td,
.ui.table.scores tr,
.ui.table.scores :last-child td {
  border-color: white;
  border-width: 2px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
tr.high-score {
  background-color: #fe4902;
  height: 104px;
}

tr.score {
  background-color: rgb(14, 112, 168);
  height: 104px;
}

tr.score .label {
  font-size: 2rem;
  background-color: white;
  color: rgb(14, 112, 168);
}

tr.high-score .label {
  font-size: 2rem;
  background-color: white;
  color: #fe4902;
}

tr.score > td,
tr.high-score > td {
  color: white;
  font-size: 2 rem;
}

.ui.table.scores :last-child th,
.ui.table.scores th {
  border-color: #fe4902;
  border-width: 2px;
  padding: 0px;
}

.ui.table.scores th .label {
  height: 100%;
  width: 100%;
  border-radius: 0;
  background: white;
  color: black;
}

.ui.table.scores th {
  background: white;
}

.ui.table.scores > thead tr th:first-child {
  background: none;
}

.ui.table.scores .label {
  height: 90%;
  width: 90%;
  background: white;
}

.card span.strikethrough {
  text-decoration: red line-through;
}

.ui.card.all-results-card {
  border-color: #fe4902;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

.ui.card.all-results-card td {
  border-color: white;
  border-width: 2px;
  /* background-color: rgb(14, 112, 168); */
}

.ui.card.all-results-card .label.answer {
  /* width: 80%; */
  margin-left: 4px;
}

.ui.card.all-results-card .label {
  color: white;
  background-color: rgb(14, 112, 168);
  width: 100%;
}

.ui.card.all-results-card .label.name {
  width: 90%;
  background-color: #fe4902;
  color: white;
}

span.points {
  color: black;
  font-weight: bolder;
}

p {
  font-size: 3vh;
  padding: 10vh;
}

label {
  font-size: 3vh !important;
}

span.pin {
  color: #fe4902;
  text-shadow: 1px 1px white, 2px 2px #fe4902, 3px 3px white;
}
